<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>
    <title>Label</title>
</head>
<style>
    @page{
        width: 4;
        height: 2.3125;
        margin: 5mm 5mm 0mm 5mm;
        padding: 0 5mm 0 5mm;
        text-align: center;
    }
    .printed-container{
        text-align: center;

    }
</style>
<body>
    <div class="printed-container">
        <%if(staffName != null){%>
            <p style="font-size: 20px; margin: 0px 0; padding: 0;"><%=staffName%></p>
            <p style="font-size: 20px; margin: 5px 0; padding: 0;">GCA-<%=ltype%> <%if(missingPeriph != null && missingPeriph != 'None'){%> <%=missingPeriph%> <%}%></p>
            <p style="font-size: 35px; margin: 5px 0; padding: 0;"><%=asset%></p>
            <img style="margin-top: 5px;" src="https://api.qrserver.com/v1/create-qr-code/?data=<%=asset%>&size=60x60&margin=0" alt="">
        <%}else {%>
        <p style="font-size: 25px; margin: 5px 0; padding: 0;">GCA-<%=ltype%> <%if(missingPeriph != null && missingPeriph != 'None'){%> <%=missingPeriph%> <%}%></p>
        <p style="font-size: 40px; margin: 5px 0; padding: 0;"><%=asset%></p>
        <img style="margin-top: 5px;" src="https://api.qrserver.com/v1/create-qr-code/?data=<%=asset%>&size=60x60&margin=0" alt="">
        <!-- <p style="font-family: 'Libre Barcode 39'; font-size: 50px;"><%=asset%></p> -->
        <%}%>
    </div>
</body>

<script>
    
    (function() {
        window.print();
        setTimeout(() => {
            window.location=document.referrer; 
        }, 3000);
    })();
   

    //print()
    //setTimeout(window.location.href = './assetlabel', 5000)
    
</script>
</html>